.rtl,
.right-to-left {
  text-align: right;
  justify-content: flex-end;
}

.ltr,
.left-to-right {
  text-align: left;
  justify-content: flex-start;
}

.hctr,
.horizontal-center {
  text-align: center;
  justify-content: flex-start;
}

.vctr,
.vertical-center {
  align-items: center;
}

.vctr-multiple,
.vertical-center-multiple {
  align-content: center;
}
