$gaps: (
  1: 10,
  2: 20,
  3: 30,
);

$breakpoints: ('', sm, md, lg, xl);

$unit: px;

@each $gap in $gaps {
  $key: nth($gap, 1);
  $val: nth($gap, 2);

  .row.gap-#{$key} {
    margin-left: -#{$val / 2}#{$unit}!important;
    margin-right: -#{$val / 2}#{$unit}!important;


    @each $breakpoint in $breakpoints {
      @for $i from 1 through 12 {
        .col-#{$breakpoint}-#{$i} {
          padding-left: #{$val / 2}#{$unit}!important;
          padding-right: #{$val / 2}#{$unit}!important;
        }
      }
    }
  }
}
