$alignments: (
  end: flex-end,
  start: flex-start,
  center: center,
);

@each $alginment in $alignments {
  $key: nth($alginment, 1);
  $val: nth($alginment, 2);

  /**
   * Justify
   */
  .justify-#{$key},
  .justify-content-#{$key} {
    justify-content: $val;
  }

  .justify-items-#{$key} {
    justify-items: $val;
  }

  /**
   * Align
   */

  .align-#{$key},
  .align-items-#{$key} {
    align-items: $val;
  }

  .align-content-#{$key} {
    align-content: $val;
  }
}
