/**
 * Title controller
 */
 [class^=title] {
  margin-bottom: 15px;
};

.title-1 {
  font-size: 3em;
}

.title-2 {
  font-size: 2.5em;
}

.title-3 {
  font-size: 2em;
}

.title-4 {
  font-size: 1.5em;
}
