@import "./style-controllers/spacing.scss";
@import "./style-controllers/alignment.scss";
@import "./style-controllers/title.scss";
@import "./style-controllers/common.scss";
@import "./style-controllers/custom-row.scss";
@import "./style-controllers/flexbox.scss";
@import "./style-controllers/view-sample.scss";


.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($grey, .2);
}

.title {
  margin-bottom: 20px;
}

// // Flex based solutions

// .flex-row {
//   display: flex;
//   margin: 0 -7.5px;

//   &:not(:last-child) {
//     margin-bottom: 20px;
//   }

//   .fix-width {
//     width: 100%;
//     margin: 0 7.5px;
//   }
// }

// .form-row {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -7.5px;

//   [class^="col-"] {
//     padding: 0 7.5px;
//   }
// }
